@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3>You can add query string "LangCode=/en-US/" in new tab of demo link for change current culture information</h3>
<p><a href="/MSStringLocalizer" target="_blank">Demo MicroSoft StringLocalizer</a></p>
<p><a href="/iCatStringLocalizer" target="_blank">Demo iCat StringLocalizer</a></p>
<p><a href="/StringExtension" target="_blank">Demo StringExtension</a></p>
<p><a href="/MultiLayer" target="_blank">Demo StringExtension for Multi-layer</a></p>
<p><a href="/Parameters" target="_blank">Demo StringExtension for Dynamic Parameters</a></p>
