@using iCat.Localization.Interfaces
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@using iCat.Localization.Extensions;

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @Localizer["Name"] @("{Name}".Localize()) @("{TestSentence}".LangAddParams(new { Name = "QQQ" }).Localize())</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
